<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Retailer #<%= @retailer.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Retailer</dt>
              <dd><%= @retailer.retailer %></dd>

              <dt>Url</dt>
              <dd><%= @retailer.url %></dd>

              <dt>Description</dt>
              <dd><%= @retailer.description %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/retailers" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/retailers/<%= @retailer.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_retailer/<%= @retailer.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
