<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> <%= @deal.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
          <h5><%= @deal.tag_line %></h5>
            <dl class="dl-horizontal">
              <dt>Retailer</dt>
              <dd><%= @deal.retailer.try(:retailer) %></dd>

              <dt>Description</dt>
              <dd><%= @deal.description %></dd>

              <dt>User</dt>
              <dd><%= @deal.user.try(:first_name) %> <%= @deal.user.try(:last_name) %></dd>

              <dt>Tag</dt>
              <dd><%= @deal.tag.try(:tags_name) %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/deals" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/deals/<%= @deal.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_deal/<%= @deal.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
