<!-- Validation failure messages -->

<% if @tag.errors.any? %>
  <% @tag.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Tag #<%= @tag.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_tag/<%= @tag.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for tags_name -->
          <div class="form-group">
            <label for="tags_name" class="col-sm-2 control-label">
              Tags name
            </label>
            <div class="col-sm-10">
              <input type="text" id="tags_name" name="tags_name" placeholder="Tags name" class="form-control" value="<%= @tag.tags_name %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Tag
              </button>
              or
              <a href="/tags/<%= @tag.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
